# .coveragerc to control coverage.py
[run]
branch = True
include = planemo/*
omit = .tox/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    if __name__ == .__main__.:

ignore_errors = True
include = planemo/*
omit = .tox/*

[html]
directory = htmlcov/
