include *.rst LICENSE
include planemo/xml/xsd/*
include planemo/xml/xsd/tool/*
include planemo_ext/tool_factory_2/*
include planemo_ext/galaxy/util/docutils_template.txt
include planemo/reports/*
include planemo/scripts/*
