aenum
BeautifulSoup4
Click
configparser
six>=1.7.0
pyyaml
# TODO: remove pyaml used by bioconductor_skeleton
pyaml
bioblend
docutils
jinja2
glob2
virtualenv
galaxy-lib>=16.4.1
cwltool ; python_version == '2.7'
