name: Python CI
on: [push, pull_request]
env:
  PLANEMO_ENABLE_POSTGRES_TESTS: 1
  PLANEMO_SKIP_GALAXY_CWL_TESTS: 1
  PLANEMO_TEST_WORKFLOW_RUN_PROFILE: 1
  PGPASSWORD: postgres
  PGHOST: localhost
  GIT_AUTHOR_NAME: planemo
  GIT_AUTHOR_EMAIL: planemo@galaxyproject.org
  GIT_COMMITTER_NAME: planemo
  GIT_COMMITTER_EMAIL: planemo@galaxyproject.org
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9']
        tox-action:
          - lint
          - lint_docs
          - mypy
          - unit-quick
          #- unit-diagnostic-servebasic
          #- unit-diagnostic-servebasic-gx-2005
          #- unit-diagnostic-servebasic-gx-master
          - unit-diagnostic-servebasic-gx-dev
          #- unit-diagnostic-servetraining
          #- unit-diagnostic-servecmd
          #- unit-diagnostic-trainingwfcmd
          - unit-nonredundant-noclientbuild-noshed-gx-2205
          - unit-nonredundant-noclientbuild-noshed-gx-231
          - unit-nonredundant-noclientbuild-noshed-gx-dev
          - unit-nonredundant-noclientbuild-noshed-nogx
          - unit-diagnostic-serveclientcmd
        include:
          - python-version: '3.12'
            tox-action: lint
          - python-version: '3.12'
            tox-action: mypy
          - python-version: '3.12'
            tox-action: unit-quick
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Test psql
        run: |
          psql --version  # Needs to be compatible with the postgres container image
          psql --tuples-only --username postgres -P pager=off --list
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install tox coveralls
      - name: Checkout system space
        run: |
          df
      - name: Test with tox
        run: |
          TOXENV=$(echo $TOXENV | sed 's/\.//') tox
        env:
          TOXENV: py${{ matrix.python-version }}-${{ matrix.tox-action }}
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: '18.12.1'
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools
          python3 -m pip install --upgrade build twine
      - name: Create and check packages
        run: |
          make dist
      - name: Publish to PyPI
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.pypi_password }}
