name: Python CI
on: [push]
env:
  PLANEMO_SKIP_REDUNDANT_TESTS: 1
  PLANEMO_ENABLE_POSTGRES_TESTS: 0
  PLANEMO_SKIP_GALAXY_CWL_TESTS: 1
  PLANEMO_TEST_WORKFLOW_RUN_PROFILE: 1
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.7]
        tox-action:
          - lint
          - lint_readme
          - lint_docs
          - quick
          # - unit
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
        submodules: true
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox coveralls
    - name: Test with tox
      run: |
        export TOXENV=$(echo $TOXENV | sed 's/\.//') && tox
      env:
        TOXENV: py${{ matrix.python-version }}-${{ matrix.tox-action }}

